<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

<section class="padding-medium">
    <div class="container">
        <div class="row" id="booksContainer">
            <!-- Books will be dynamically added here using JavaScript -->
        </div>

        <div class="row">
            <nav aria-label="Page navigation" class="mt-5">
                <ul class="pagination justify-content-center" id="pagination">
                    <!-- Pagination buttons will be dynamically added here using JavaScript -->
                </ul>
            </nav>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>
