<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section id="featured-books" class="py-5 my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header align-center">
              <div class="title">
                <span>Just In Stock!</span>
              </div>
              <h2 class="section-title">New Books</h2>
            </div>

            <div class="product-list">
              <div class="row" id="booksContainer">
                <!-- Books will be dynamically added here using JavaScript -->
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="btn-wrap align-right">
              <a href="#books" class="btn-accent-arrow"
                >View all products <i class="icon icon-ns-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
</html>
